body {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(242, 238, 229)
}

h1,h2,h3{
    font-family: 'Ramabhadra', sans-serif;
}

header,
footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 3px 3px 3px 3px;
    padding: 1rem;
}

header img {
    width: 170px;
    height: auto;
    border-radius: 3px 3px 3px 3px;
    float: right;
}

header,
main,
footer {
    margin: 50px auto;
    max-width: 800px;
}

footer a {
    color: rgb(255, 174, 0);
}

footer{
    text-align: center;
}

h2{
    border-bottom: 1px solid rgb(138, 138, 138);
}

p {
    margin: 1px;
}