body {
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin: 1.5rem ;
}

h1,h2,h3{
    font-family: Times, "Times New Roman", Georgia, serif;
}

header,
footer {
    border-radius: 3px 3px 3px 3px;
    padding: 1rem;
}

header img {
    width: 170px;
    height: auto;
    float: center;
    border-radius: 5px;
}

header,
main,
footer {
    margin: 50px auto;
    max-width: 800px;
}

footer a {
    color: rgb(255, 174, 0);
}

footer{
    text-align: center;
}

h2, h3{
    border-bottom: 1px solid rgb(138, 138, 138);
}

p {
    margin: 0px
}

main{
    margin-top: 1rem;
}

.subtitle{
    font-size: 1.5rem;
}

li{
    margin-top: 1rem;
}

.wrapper {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
    }

.item {
      text-align: center;
      padding: 20px 0;
      font-size: 30px;
}

article{
    margin-bottom: 4rem;
}

@media only screen and (max-width: 800px) {
    .wrapper{
        grid-template-columns: auto;
    }
    article div.cards  {
        display: grid;

        grid-template-columns: auto;    
    }
}


/* CARDS */

div.cards section {
    text-align: center;
    border: .1rem solid #afafaf;
    border-radius: .1rem;
    padding: .7rem;
}

div.cards  {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
}

div.cards section p {
    padding: .75rem;
}