/* Large Views */
@media only screen and (min-width: 60em) {

  /*-----------------------------------------
    General
    -----------------------------------------*/
  body {
    font-size: 1.1rem;
  }

  /*-----------------------------------------
    Navegation Menu
    -----------------------------------------*/
  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;
    flex: 1 1 auto;
  }

  .navigation a {
    text-align: center;
  }

  .navigation li:first-child {
    display: none;
  }

  iframe {
    display: inline;
  }

  article.contact-information div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  article.contact-information div p {
    margin-bottom: auto;
    margin-top: auto;
  }

  /* ----------------------------------------
  Gallery
  ---------------------------------------- */

  div.gallery-img {
    grid-template-columns: 1fr 1fr 1fr;
  }

  figure:hover {
    box-shadow: 0 0 50px #333;
    border-radius: 15px 15px 5px 5px;
  }

  /* --------------------------------------------------
  Cards
  -------------------------------------------------- */
  div.cards {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
  }

  div.cards section {
    margin: 20px;
    padding: 20px;
    grid-template-columns: 1fr;
    border-radius: 3px;
  }

  div.cards section:nth-child(odd) img {
    grid-column: 1;
  }

  div.cards section:nth-child(odd) div {
    grid-row: 2;
  }

}