/*-----------------------------------------
Medium Views
-----------------------------------------*/
@media only screen and (min-width: 37.5em) {

    /*-----------------------------------------
    General
    -----------------------------------------*/
    body {
        font-size: 1rem;
    }

    main {
        max-width: 900px;
    }

    .forecast{
        display: block;
    }

    /* ----------------------------------------
    Gallery
    ---------------------------------------- */

    div.gallery-img {
        grid-template-columns: 1fr 1fr;
    }


}