table {
    margin: 50px;
    font-family: Ubuntu, sans-serif;
    border-collapse: collapse;
    border: rgb(185, 179, 179) 1px solid;
    box-shadow: 10px 10px 10px rgb(90, 129, 161);
}

th,
td {
    padding: 8px;
    text-align: center;
    border: rgb(185, 179, 179) 1px solid;
    width: auto;
}

table tr {
    background-color: #e7f0ed;
}

table thead tr th,
table tfoot tr td {
    background-color: #7fb9c2;
    color: black;
    font-size: .8em;
}

table tr:nth-child(even) {
    background-color: #e7ffed;
}

tbody tr:nth-child(6) td span{
    font-style: italic;
}


table thead tr th {
    font-size: 2em;
}

.highlight-color {
    background-color: #628ca6;
    color: white;
}





