/* Large Views */
@media only screen and (min-width: 60em) {

  /*-----------------------------------------
    General
    -----------------------------------------*/
  body {
    font-size: 1.1rem;
  }
  /*-----------------------------------------
    Navegation Menu
    -----------------------------------------*/
  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;
    flex: 1 1 auto;
  }

  .navigation a {
    text-align: center;
  }

  .navigation li:first-child {
    display: none;
  }

  iframe{
    display: inline;
}

.contact-information div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-information div p{
    margin-bottom: auto;
    margin-top: auto;
}

}