/*-----------------------------------------
Medium Views
-----------------------------------------*/
@media only screen and (min-width: 37.5em) {

    /*-----------------------------------------
    General
    -----------------------------------------*/
    body {
        font-size: 1rem;
    }

    main {
        max-width: 900px;
    }

    .forecast {
        display: block;
    }

    article {
        padding: 2rem;
    }

    /* ----------------------------------------
    Gallery
    ---------------------------------------- */

    div.gallery-img {
        grid-template-columns: 1fr 1fr;
    }

    /* --------------------------------------------------
    Cards
    -------------------------------------------------- */
    div.cards section {
        max-width: 600px;
        margin: .5rem auto;
        box-shadow: 0 2px 15px rgb(192, 192, 192);
        display: flex;
        flex-wrap: wrap;
    }

    div.cards section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    div.cards section:nth-child(odd) img {
        grid-column: 2;
    }

    div.cards section:nth-child(odd) div {
        grid-column: 1;
        grid-row: 1;
    }

    div.cards section p {
        padding: .75rem;
    }

}