/*-----------------------------------------
Medium Views
-----------------------------------------*/
@media only screen and (min-width: 37.5em) {

    /*-----------------------------------------
    Navegation Menu
    -----------------------------------------*/
    nav ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    nav ul li a{
        font-size: 1rem;
    }

    /*-----------------------------------------
    General
    -----------------------------------------*/
    body {
        font-size: 1rem;
      }
}